@tailwind base;
@tailwind components;
@tailwind utilities;

.login-page {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;


    &__form {
        width: 300px;
        display: block;

        &__title {
            font-size: 32px;
            font-weight: 500;
            margin-bottom: 20px;
            text-align: center;
        }

        &__input {
            width: 100%;
            margin-bottom: 20px;
        }

        &__button {
            @apply bg-blue-500;
            width: 100%;
        }
    }
}