* {
  --border-color: rgba(222, 226, 230, 0.7);
}

.input-field {
  border: 1px solid var(--border-color);
  display: block;
  width: 100%;
  height: 42px;
  border-radius: 8px;
  padding: 0;

  > * {
    width: 100%;
  }
  input {
    height: 40px;
    padding: 0 10px 0 10px !important;
  }

  select {
    padding: 0 10px;
    border: 0;
    width: 100%;
    height: 100%;
    border-radius: 8px;
  }

  &.textarea {
    height: auto;
  }

  .MuiAutocomplete-inputRoot {
    padding-left: 5px;
    &::before,
    &::after {
      display: none !important;
    }
  }

  .MuiChip-root {
    background: #cff4fc;
  }
}

.nav-tabs .nav-link {
  cursor: pointer;
}

.nav-item__content {
  border: 1px solid var(--border-color);
  border-top: 0;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  padding: 16px;
  padding-bottom: 0;
  background-color: #f8f9fa;
}

.product-data {
  &__select-attributes {
    .input-field {
      background-color: white;
    }
    &__item {
      border: 1px solid var(--border-color);
      padding: 14px;
      border-radius: 8px;
      background-color: white;
    }
  }
}

.items-center {
  align-items: center;
}

.accordion-button {
  height: 52px;
  padding-right: 10px !important;
  display: flex;
  justify-content: space-between;

  &::after {
    display: none;
  }
}

.form-check-input {
  width: 20px;
  height: 20px;
  margin-top: 2px;
}

.btn-full {
  width: 100%;
}
