/* ========================
INCLUDE STYLES AND COMPONENTS
===================== */
// 1. Abstracts
@import "abstracts/mixins", "abstracts/variables";

// 2. Base stuff
@import "base/helpers", "base/typography";

.layout-admin {
  @import "abstracts/import-vendors";
  // 3. Components
  @import "components/navigation", "components/buttons", "components/forms",
    "components/elements", "components/items", "components/lists";

  // 4. Layout
  @import "layout/spacing", "layout/layout", "layout/layout-dark",
    "layout/responsive";

  @import "custom";

  .flex-center {
    display: flex !important;
    align-items: center;
    justify-content: center;
  }
  .flex-end {
    display: flex !important;
    align-items: center;
    justify-content: flex-end;
  }
}
